@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");

body{
  background-color:#ffffff;
  /* align-items: center;
  justify-content: center; */
  
}

.welcome  {
  top:15em;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  border-radius: 15px;
  /* text-align: center; */
  box-shadow: 0 8px 6px -6px black;
  height: 60vh;
  width: 50vw;
  left:30em;
  background-color:aliceblue;
}


.welcome h1 {
  /* font-family: "Changa One"; */
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: normal; */
  font-size: 100px;
  left: 46px;
  top:1px;
  position: absolute;
  color: black;
  left:2.5em;

}



/* .welcome {
  height: 100vh;
  position: relative;
  overflow: hidden;
} */

/* .welcome > h1 {
  font-family: "Changa One";
  font-weight: normal;
  font-size: 144px;
  left: 46px;
  top: 155px;
  position: absolute;
  color: white;
} */



.login-register-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  left: 280px;
  top: 200px;
  background: #ffffff;
  border-radius: 20px;
}

.login-register-container > input {
  height: 30px;
  width: 80%;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 5px;
  border-radius: 20px;
}

.login-register-container > button {
  padding: 5px 20px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 20px;
}

.sign-in-register-button {
  background-color: #0d6efd;
  font-size: 20px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: white;
}

.create-account-button {
  background: none;
  margin-top: 10px;
}

/* .todo-svg {
  position: absolute;
  bottom: 100px;
  right: 300px;
  transform: scale(1.3);
} */
